body {
    margin: 0 250px;
}

.clearfix::before,
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.clear {
    content: '';
    clear: both;
   
}

.border {
    border: 1px solid;
    margin: 10px;
}

.square {
    background-color: #0808fa;
    width: 100px;
    height: 100px;
    margin: 25px;
<<<<<<< HEAD

=======
    
>>>>>>> 5dcf1696dec72dcb5bd800dadff4c90e2d70b5ba
}

.left {
    float: left;
}

.right {
    float: right;
}

div.little {
    width: 50px;
    height: 50px;
    margin: 50px 25px;
    background-color: #0808fa;
}

div.big {
    width: 200px;
    height: 200px;
<<<<<<< HEAD
    background-color: #0808fa;
    margin: 25px
=======
    
>>>>>>> 5dcf1696dec72dcb5bd800dadff4c90e2d70b5ba
}

div.rectangle {
    width: 200px;
    height: 50px;
<<<<<<< HEAD
    background-color: #0808fa;
    margin: 25px
}

=======
    
}

div.big-two {
    width: 200px;
    height: 200px;
    
}
>>>>>>> 5dcf1696dec72dcb5bd800dadff4c90e2d70b5ba

div.rectangle-two {
    width: 200px;
    height: 75px;
<<<<<<< HEAD
    background-color: #0808fa;
    margin: 25px 25px 50px 25px;


=======
    
>>>>>>> 5dcf1696dec72dcb5bd800dadff4c90e2d70b5ba
}

.padding {
    padding: 0 160px;
<<<<<<< HEAD
=======
}

.padding-rigth {
    padding: 0 0 0 326px;
>>>>>>> 5dcf1696dec72dcb5bd800dadff4c90e2d70b5ba
}