.clearfix::before,
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.border {
    border: 1px solid;
    margin: 10px;
}

.border div {
    background-color: #0808fa;
    width: 100px;
    height: 100px;
    margin: 25px;
}

.left {
    float: left;
}

.right {
    float: right;
}

div.little {
    width: 50px;
    height: 50px;
    margin: 50px 25px;
}

div.big {
    width: 200px;
    height: 200px;
    margin: 25px 10px 25px 32%;
}

div.rectangle {
    width: 200px;
    height: 50px;
    margin: 25px 35% 25px 10px;
}

div.big-two {
    width: 200px;
    height: 200px;
    margin: 25px 10px 25px 850px;
}

div.rectangle-two {
    width: 200px;
    height: 75px;
    margin: 25px;
}